$lightest-gray: #f5f5f5;
$light-gray: #d0d0d0;
$darkest-gray: #303030;
$dark-gray: #606060;

$link-color: #0070a6;

$sans-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
