@import 'variables';
@import 'mixins';

body {
  background-color: $lightest-gray;
  font-size: 18px;
  font-family: $sans-family;
  font-weight: 300;
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  padding: 0.5rem;
}

h1, h2, h3 {
  line-height: 1.2;
  @include body-element;
}

p {
  line-height: 1.5;
  @include body-element;
}

ul {
  line-height: 1.5;
  margin: 0.5em auto;
  max-width: 36rem;
  padding: 0 2rem;
}

a {
  color: $link-color;
}

pre {
  background-color: #fff;
  border: 1px solid $light-gray;
  margin: 0.5rem auto;
  max-width: 41rem;
  padding: 1rem;
  overflow-x: auto;
}

code {
  background-color: #fff;
}

figure {
  background-color: #fff;
  border: 1px solid $light-gray;
  max-width: 50rem;
  margin: 1rem auto;

  img {
    width: 100%;
  }
}

figcaption {
  font-size: .9em;
  text-align: center;
  color: #555555;
  padding: 0.5rem;
}

article header {
  border-bottom: 1px solid $light-gray;
  margin: 0 auto;
  max-width: 44rem;

  h1 {
    font-size: 1.5rem;
    margin: 1rem auto 0;
  }

  p {
    color: $dark-gray;
    margin: 0 auto;
    // padding: 0.6rem;
    text-align: center;
  }
}

.site-header {
  background-color: $link-color;
  color: #fff;
  padding-bottom: 0.5rem;

  h1 {
    font-size: 2em;
    margin: 0 auto;
  }

  h2 {
    font-size: 1em;
    margin: 0 auto;
    // text-align: right;
  }

  a {
    color: #fff;
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
  }

  li {
    display: inline;
  }

  li + li {
    &::before {
      content: '•';
      padding: 0 1em;
    }
  }
}

.video-instance {
  margin: 1em auto;
  max-width: 800px;
}

.video-player {
  position: relative;
  overflow: hidden;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .video-controls {
      bottom: 0px;
    }
  }
}

.video-element {
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

.video-volume {
  width: 40px;
  position: relative;

  &:hover {
    .video-volume-slider{
      left: -40px;
    }
  }
}

.video-volume-slider {
  position: absolute;
  padding: 7px;
  bottom: 36px;
  width: 110px;
  left: -170px;
  transition: left .3s;
}

.video-controls {
  position: absolute;
  bottom: -60px;
  transition: bottom .3s;
  width: 100%;
  height: 60px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.video-time {
  width: 65px;
  line-height: 30px;
  margin: 25px 5px 5px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.video-slider {
  width: calc(100% - 350px);
  height: 14px;
  margin: 35px 5px 11px;
}

.video-control-button {
  display: block;
  width: 30px;
  margin: 25px 5px 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  padding: 6px;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    outline: none;
  }

  svg {
    pointer-events: none;
    fill: #fff;
  }
}
